.chat-list-container {
    background-color: #f1f1f1;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    .mat-list {
      padding: 0;
    }
  .chat-list{
    flex-direction: row;
    display: flex;
    gap: 1rem;
  }
    .chat-item {
      display: flex;
      height: 75px;
      align-items: center;
      flex-direction: row;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #e5e5e5;
      }
  
      .avatar-container {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #25d366;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        
        .avatar-icon {
          font-size: 24px;
          color: white;
        }
      }
  
      .chat-info {
        flex-grow: 1;
        
        .chat-header {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: #333;
          margin-bottom: 5px;
  
          .chat-name {
            font-weight: bold;
          }
  
          .chat-time {
            color: #888;
          }
        }
  
        .chat-message {
          font-size: 14px;
          color: #555;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  
    .empty-state {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #888;
      height: 100%;
      
      mat-icon {
        font-size: 48px;
        margin-bottom: 10px;
      }
    }
  }
  